#game {
  background-image: url(../assets/backdrop.png);
  width: 1000px;
  height: 500px;
  border: 5px solid black;
  margin: auto;
  animation: slide 13s infinite linear;
}
@keyframes slide{
  from {background-position: 0px -180px;}
  to {background-position: -5866px -180px;}
}
#character{
  position: relative;
  width: 42px; /*16*/
  height: 120px; /*68*/
  top: 380px;
  transform: scaleX(1);
  background-image: url(../assets/Character/moving-animation.gif);
  /*background-color: black;*/
  background-position: -11px 1px;
  background-repeat: no-repeat;
  background-size: 60px;
}
.enemy{
  position: relative;
  width: 30px;
  height: 25px;
  left: 0px;
  top: 0px; /*Offset by 20px*/
  background-image: url(../assets/poop.png);
  /*background-color: red;*/
  background-size: 43px;
  background-position: -6px -9px;
}
button{
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(133, 38, 38);
}
button:hover{
  background-color: rgb(226, 43, 43);
}
#spawnEnemy{
  position: relative;
  top: -30px;
  left: 880px;
}
#placeholder{
  background-color: white;
}
#start{
  width: 100px;
  height: 40px;
  position: relative;
  top: 45%;
  left: 45%;
}
#gameOver{
  font-weight: bold;
  color: red;
  font-size: 100px;
  position: relative;
  top: -20px;
  left: 25%;
}
#score{
  font-size: 30px;
  font-weight: bold;
  color: rgb(184, 212, 29);
  position: relative;
  top: -15px;
  left: 85%;
}
.controls{
  position: relative;
  background-image: url(../assets/arrow.png);
  background-position: -90px;
  background-size: 100px;
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.controls:hover{
  background-color: red;
}
#upButton{
  left: 45%;
  transform: rotate(-90deg);
}
#leftButton{
  float: left;
  transform: rotate(-180deg);
  left: 30%;
}
#rightButton{
  left: 60%;
}
